<% if @channel.public? %>

<%= render :partial => 'channelinfo', :locals => { :zone => "public" } %>



<div align="center">
  <table style="border:3px #FFAC55 double;padding:5px;" rules="all" cellpadding='5'>
      <tr>
        <% if @channel.twitter_name != nil %>
          <td align="center"><button type="button" class="btn btn-info disabled">Twitter</button></td>
          <td align="center">Hi, <strong><%= @channel.twitter_name %></strong></td>
          <% if @channel.action_status == 'stop'%>
            <td align="center"><%= link_to "Sign out", signout_path, id: "sign_out", class: "btn btn-success btn-sm" %></td>
          <% end %>
        <% else %>
          <td align="center">Twitter: </td>
          <td align="center"><%= link_to "Sign in", "/auth/twitter", id: "sign_in", class: "btn btn-success btn-sm" %></td>
        <% end %>
      </tr>
      <br> 
      
      <%= form_for @channel do |c| %>
        <tr>
          <td align="center"><%= @channel.id %></td>
          <td align="center"><%= image_tag(@channel.When_this_stuff_happens + '.png', width: '50', height: '50') %> </td>
          <% case @channel.Event_1 %>
            <% when '>' %>
              <td align="center"><%= image_tag('mt.png', width: '30', height: '30') %></td>
            <% when '>=' %>
              <td align="center"><%= image_tag('mte.png', width: '30', height: '30') %></td>
            <% when '=' %>
              <td align="center"><%= image_tag('equal.png', width: '30', height: '30') %></td>
            <% when '<' %>
              <td align="center"><%= image_tag('lt.png', width: '30', height: '30') %></td>
            <% when '<=' %>
              <td align="center"><%= image_tag('lte.png', width: '30', height: '30') %></td>
          <% end %>
          <td align="center"><%= image_tag(@channel.Event_2 + '.png', width: '50', height: '50') %></td>
          
          <% if @channel.Then_do_these_things_1st != "Null" %>
            <td align="center"><%= image_tag(@channel.Then_do_these_things_1st + '.png', width: '50', height: '50') %></td>
            <td align="center"><%= image_tag(@channel.Event_3 + '.png', width: '50', height: '50') %></td>
          <% end %>
          
          <% if @channel.Then_do_these_things_2st != "Null" %>
            <td align="center"><%= image_tag(@channel.Then_do_these_things_2st + '.png', width: '50', height: '50') %></td>
            <td align="center"><%= image_tag(@channel.Event_4 + '.png', width: '50', height: '50') %></td>
          <% end %>
          
          <% if @channel.Then_do_these_things_3st != "Null" %>
            <td align="center"><%= image_tag(@channel.Then_do_these_things_3st + '.png', width: '50', height: '50') %></td>
            <td align="center"><%= image_tag(@channel.Event_5 + '.png', width: '50', height: '50') %></td>
          <% end %>
          
          <% if @channel.Then_do_these_things_4st != "Null" %>
            <td align="center"><%= image_tag(@channel.Then_do_these_things_4st + '.png', width: '50', height: '50') %></td>
            <td align="center"><%= image_tag(@channel.Event_6 + '.png', width: '40', height: '40') %></td>
            <td align="center"><%= @channel.Event_7 %></td>
          <% end %>
          <% if @channel.Then_do_these_things_5st != "Null" %>
            <td align="center"><%= image_tag(@channel.Then_do_these_things_5st + '.png', width: '50', height: '50') %></td>
            <td align="center"><%= image_tag(@channel.Event_9 + '.png', width: '50', height: '50') %></td>
          <% end %>
          <% if @channel.Then_do_these_things_6st != "Null" %>
            <td align="center"><%= image_tag(@channel.Then_do_these_things_6st + '.png', width: '50', height: '50') %></td>
            <td align="center"><%= image_tag(@channel.Event_10 + '.png', width: '50', height: '50') %></td>
          <% end %>
          <% if @channel.action_status == 'stop' %>
            <td align="center"><%= link_to "Running", { :controller => 'channels', :action => 'drive_run'}, class: 'btn btn-danger btn-sm' %></td>
          <% else %>
            <td align="center"><%= link_to "Stop", { :controller => 'channels', :action => 'drive_stop'}, class: 'btn btn-danger btn-sm' %></td> 
          <% end %>
        </tr>
      <% end %>
      <br> 
      
      
      <tr>
        <% if @channel.twitter_check == '1' or @channel.Event_8 != 'Null' %>
          <td align="center"><button type="button" class="btn btn-info disabled">Service</button></td>
          <% if @channel.twitter_check == '1'%>
            <td align="center"><%= image_tag('Twitters.png', width: '30', height: '30') %></td>
            <td align="center"><%= image_tag('Checked.png', width: '30', height: '30') %></td>
          <% end %>
          <% if @channel.Event_8 != nil and @channel.Event_8 != 'Null' %>
            <td align="center"><%= image_tag('Letter.png', width: '40', height: '40') %></td>
            <td align="center"><%= image_tag('Checked.png', width: '30', height: '30') %></td>
          <% end %>
        <% end %>
      </tr>
  </table>
</div>


<div class="CB">
  <div class="col-xs-6 col-sm-6">
    <div id="public_dialog0" class="column"></div>
  </div>
  <div class="col-xs-6 col-sm-6">
    <div id="public_dialog1" class="column"></div>
  </div>
</div>

<div class="commentlink" >
  <% if !current_user %>
  <%= link_to t(:comment_add), channel_comments_path(@channel), :class => 'boldlink' %>
  <% else %>
  <span class="mainlink spanlink boldlink" onclick="$('#commentmain').toggle();"><%= t(:comment_add) %></span>
  <% end %>
  <div id="commentmain" style="display:none" >
  <%= form_for :comment, :url => channel_comments_path(@channel) do |f| %>
      <%= f.error_messages %>
      <input name='userlogin' class='userlogin' />
      <%= f.text_area :body, :rows => 7, :cols => 54 %>
      <br>
      <%= submit_tag %>
    <% end %>
  </div>
  <br/><br/>
  <div id='comments' >
    <% @channel.comments.each do |c| %>
      <%= render :partial => 'comments/comment', :object => c if c.parent_id.nil? %>
    <% end %>
  </div>
</div>

<script>
  // when the document is ready
  $(document).on('page:load ready', function() {

    // when the devinfo link is clicked
    $("#devInfoLink_public").click(function() {
      var element = $("#devInfo");
      openDialogCenter(element);
      return false;
    });

    // when the add window link is clicked
    $("#portletAddLink_public").click(function() {
      $("#addPortlets").load('/channels/<%=@channel.id %>/hidden_windows?visibility_flag=public', function() {
         var element = $("#addPortlets");
         openDialogCenter(element);
      });
      return false;
    });

  });

// comment flag function
function commentflag(m_id, user_id)
{

    $.ajax({
         url: '/comments/vote/' + m_id,
         type: 'POST',
         data: {user_id : user_id},
         success: function(data) {
       $('#commentflag' + m_id).parent().parent().append("<span id='votemsg" + m_id + "'><br><br><%= t(:comment_reported) %></span>");
       $('#imgflag' + m_id).attr('src', '/images/flag_red.gif');
       $('#flaglink' + m_id).removeAttr('onclick');
       $('#flaglink' + m_id).unbind('mouseenter mouseleave');
       setTimeout(function() {  $("#votemsg" + m_id).fadeOut();  }, 2600);
         }
     });

    return false;
}
</script>
<% else %>
<div class="FL" >
  <h3><%= t(:channel_not_public) %></h3>
</div>
<% end %>

