
<%= javascript_include_tag('devices.js.coffee') %>

<%= link_to "Home","#", :id => 'my-link' %>

<a href="#" data-background-color="#990000">Paint it red</a>
<a href="#" data-background-color="#009900" data-text-color="#FFFFFF">Paint it green</a>
<a href="#" data-background-color="#000099" data-text-color="#FFFFFF">Paint it blue</a>



<%= form_tag controller: "devices", action: "create", method: "get", class: "nifty_form" do %>
  <%= label_tag :device_type, "Device Type:" %>
  <%= select_tag :device_type ,"<option>actuator</option><option>Sensor</option>".html_safe, :id => 'device_type'  %>
  <%= label_tag :device, "Device:" %>
  <%= select_tag :device , :id => 'device' %>
  <%= submit_tag "Create The Device"  %>
<% end %>



