<p id="notice"><%= notice %></p>

<p>
  <strong>When this stuff happens:</strong>
  <%= @addlogic.When_this_stuff_happens %>
</p>

<p>
  <strong>Event 1:</strong>
  <%= @addlogic.Event_1 %>
</p>

<p>
  <strong>Event 2:</strong>
  <%= @addlogic.Event_2 %>
</p>

<p>
  <strong>Then do these things 1st:</strong>
  <%= @addlogic.Then_do_these_things_1st %>
</p>

<p>
  <strong>Event 3:</strong>
  <%= @addlogic.Event_3 %>
</p>

<p>
  <strong>Then do these things 2st:</strong>
  <%= @addlogic.Then_do_these_things_2st %>
</p>

<p>
  <strong>Event 4:</strong>
  <%= @addlogic.Event_4 %>
</p>

<p>
  <strong>Then do these things 3st:</strong>
  <%= @addlogic.Then_do_these_things_3st %>
</p>

<p>
  <strong>Event 5:</strong>
  <%= @addlogic.Event_5 %>
</p>

<p>
  <strong>Then do these things 4st:</strong>
  <%= @addlogic.Then_do_these_things_4st %>
</p>

<p>
  <strong>Event 6:</strong>
  <%= @addlogic.Event_6 %>
</p>

<%= link_to 'Edit', edit_addlogic_path(@addlogic) %> |
<%= link_to 'Back', addlogics_path %>
