<!DOCTYPE html>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <%= render 'layouts/header' %>

  <body>

    <div id="wrap">
      <%= render 'layouts/nav' %>
      <div class="container">
        <%= render 'layouts/flash' %>
        <%= yield %>
      </div>
    </div>

    <%= render 'layouts/footer' %>

  </body>
</html>

